/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado */
.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.header h1 {
    margin: 0;
}

/* Barra de navegación */
.navbar {
    background-color: #444;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

/* Formulario de inicio de sesión */
.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.login-form h2 {
    text-align: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Página principal */
.main-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Secciones en la página principal */
.section {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos específicos para secciones de clientes, productos, usuarios y proveedores */
.client-section {
    background-color: #ffd700;
}

.product-section {
    background-color: #0c94ac;
    color: #fff;
}

.user-section {
    background-color: #fc9f5e;
}

.provider-section {
    background-color: #4caf50;
    color: #fff;
}
